
@{
    ViewBag.Title = "وضعیت خرید انجام شده";
}

<h2>جزئیات خرید شما</h2>
@if (Model.Error != null)
{
    <div style="border:1px solid black;font-family:'B Yekan';width:50%;border-radius:10px;margin:20px auto;padding:50px">
        <H2 style="font-family:'B Titr';color:red">
            خرید ناموفق
        </H2>
        <p>
            جزئیات: @Model.Error
        </p>
    </div>
}
else
{
    <div style="border:1px solid black;font-family:'B Yekan';width:50%;border-radius:10px;margin:20px auto;padding:50px">
        <H2 style="font-family:'B Titr'">
            @Model.Message
        </H2>
        <p>
            شماره رسید: @Model.ReferenceNumber
        </p>
        <p>
            مبلغ خرید: @($"{(Model.AmountPaid):0n}") تومان
        </p>
        <br />
    </div>
}

