@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/IRANSansWeb(FaNum)_Bold.woff2") format("woff2")
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/IRANSansWeb(FaNum)_Medium.woff2") format("woff2")
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/IRANSansWeb(FaNum)_Light.woff2") format("woff2")
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 200;
    src: url("../fonts/IRANSansWeb(FaNum)_UltraLight.woff2") format("woff2")
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/IRANSansWeb(FaNum).woff2") format("woff2")
}

body {
    direction: rtl;
    font-family: IRANSans;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 380px;
}
*/

.site-header {
    background-color: #474f58;
    padding: 5px 15%;
}

    .site-header img {
        height: 45px;
    }

    .site-header .welcome {
        color: #e0e7e9;
        font-size: 1.2rem;
        margin-top: 10px;
        margin-right: 12px;
    }

.phone-icon {
    color: #fecb04;
    font-size: 5rem;
    float: left;
    vertical-align: sub;
}

    .phone-icon span {
        font-family: Arial;
        font-weight: 200;
        font-size: 1.4rem;
        vertical-align: super;
        color: #e0e7e9;
    }



.ltr-input {
    direction: ltr;
}



/* Bootstrap Overrides */
.navbar {
    -ms-border-radius: 0;
    border-radius: 0;
}

.navbar-inverse {
    background-color: #2e3743;
    border-color: #2e3743;
}


.navbar-header {
    float: right;
}

.navbar-nav > li {
    float: right;
}

.dropdown-menu {
    text-align: right;
}

@media (min-width: 992px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: unset;
    }
}

/* Page Styles */

.voucher {
    display: inline-block;
    width: 80%;
    min-width: 150px;
    max-width: 250px;
    border: 1px solid black;
    font-family: 'Tahoma';
    -ms-border-radius: 10px;
    border-radius: 10px;
    margin: 20px auto;
    padding: 50px 2%;
    font-size: 1.5rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .voucher div {
        margin: 20px 0;
    }


.banner {
    width: 100%;
}

.footer {
    background-color: #474f58;
    color: #e0e7e9;
    padding: 30px 1rem;
    text-align: center;
}

    .footer i {
        color: rgb(254, 203, 4);
        font-size: 4rem;
        display: block;
        margin-bottom: 50px;
    }

        .footer i > span {
            font-family: Arial;
            font-weight: 200;
            font-size: 2rem;
            vertical-align: super;
            color: #e0e7e9;
        }

@media(min-width:820px) {
    .footer .logo-holder {
        display: inline-block;
        text-align: left;
    }

    .footer .address-holder {
        display: inline-block;
        text-align: right;
        padding-right: 30px;
    }
}

.footer ul {
    list-style: none;
    padding: 0;
    margin-top: -30px;
}

    .footer ul > li {
        margin-bottom: 30px;
    }
